@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

.signature{
	font-variant: small-caps;
}

section[epub|type~="dedication"]{
	margin: auto;
	width: 75%;
}

section[epub|type~="dedication"] header p{
	font-variant: small-caps;
	text-indent: 0;
	margin: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p span,
[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] br,
[epub|type~="z3998:song"] br,
[epub|type~="z3998:verse"] br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="z3998:letter"] p:first-child{
	text-indent: 0;
}

[epub|type~="dedication"] footer,
[epub|type~="z3998:letter"] footer{
	text-align: right;
	margin: 1em 0;
}

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] > header > p{
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 1em;
}

/* helpful during drafting */
[epub|type~="z3998:roman"],
[lang]:not(html),
abbr{
	background: #C0C0C0;
}
