@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-variant: small-caps;
}

section[epub|type~="epigraph"] blockquote{
	break-after: page;
}

section[epub|type~="dedication"] header p{
	font-variant: small-caps;
	text-indent: 0;
	margin: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1,
[epub|type~="z3998:drama"] td.i1 p{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="z3998:drama"]{
	border-collapse: collapse;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:drama"] table{
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="dedication"] footer,
[epub|type~="z3998:letter"] footer{
	text-align: right;
	margin: 1em 0;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] > header > p,
[epub|type~="z3998:drama"] > header > p{
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 1em;
}

blockquote.parchment{
	margin: 3em 0;
}

blockquote header{
	font-variant: small-caps;
	font-size: 1.2em;
	margin-bottom: 1em;
}
